.hero {
  padding-top: 170px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 100px;
  .typewriter {
    text-align: center;
    h1,
    h2 {
      margin: 0;
      font-size: 40px;
    }
    .typewriter-text {
      display: inline;
      border-right: 2px solid rgba(255, 163, 0, 0.75);
      animation: blink-cursor 1s step-end infinite;
    }
    .media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-top: 10px;
      a {
        color: var(--primary-color);
        font-size: 40px;
      }
    }
  }
  img {
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hero .typewriter {
    h1,
    h2 {
      font-size: 30px;
      margin: 0;
      padding: 0;
    }
  }
}
