.carousel {
  // top: 40px;
  width: 100%;
  overflow: hidden;
  position: relative;
  h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
  }
  .carousel-inner {
    display: flex;
    animation: scroll 20s linear infinite;
    gap: 20px;
    padding-bottom: 50px;

    .carousel-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      background-color: #613f2a;
      color: #ffa300;
      border: 2px solid #ffa300;
      min-width: 160px;
      border-radius: 8px;
      transition: scale 300ms;
      &:hover {
        scale: 110%;
      }
      img {
        max-width: 80px;
        min-width: 80px;
        height: 80px;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 600px) {
  .carousel h1 {
    font-size: 30px;
  }
}
