.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h2 {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      border: 2px solid #ffa300;
      border-radius: 5px;
      background-color: #fff;
      color: #5d4739;
    }

    textarea {
      resize: none;
      height: 100px;
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    background-color: #ffa300;
    color: #5d4739;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: #e59400;
    }
  }
}
