.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 100px 0;

  h1 {
    margin-bottom: 40px;
    font-size: 40px;
  }
  .contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
    a {
      text-align: center;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border-radius: 6px;
      padding: 20px;
      cursor: pointer;
      max-width: 300px;
      overflow: hidden;
      h2,
      p {
        margin: 2px;
      }
      .icon {
        font-size: 70px;
      }
    }
  }

  .form-group {
    margin-bottom: 15px;
    width: 500px;

    label {
      display: block;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      border: 2px solid var(--primary-color);
      border-radius: 5px;
      color: #5d4739;
      outline: none;
    }

    textarea {
      resize: none;
      height: 100px;
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: #5d4739;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    &:hover {
      background-color: #e59400;
      transition: 0.3s;
    }
  }
}
