.footer {
  background-color: var(--secondary-color); /* Or your desired color */
  color: #ffa300; /* Or your desired color */
  padding: 20px 0;
  text-align: center;
  position: relative;

  .footer-content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
  }

  p {
    margin: 5px 0 0;
    font-size: 1em;
  }

  .activate-windows {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 0.8em;
    color: #ffa300; /* Or your desired color */
  }
}
