* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
:root {
  --primary-color: #ffa300;
  --secondary-color: #3c2415;
  --body-color: #65422d;
  --text-light: #ffffff;
  --text-dark: #000000;
}

body {
  background: var(--body-color);
  color: var(--primary-color);
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}
